/* -------------------------------------------------------
Template: Onepage theme
Version: 1.0
Author: Mosaddek Hossain
 -------------------------------------------------------*/

/* ---------------------------------------------
Table of contents
------------------------------------------------

01. typography
02. pre-loader
03. header
04. banner-static
05. section
06. services
07. portfolio
08. pricing
09. blog
10. contact
11. footer
12. utilities
13. buttons
14. responsive

--------------------------------------------- */

@import "variables";

/* ---------------------------------------------
typography
--------------------------------------------- */
@import "typography";

/* ---------------------------------------------
header
--------------------------------------------- */
@import "header";

/* ---------------------------------------------
banner
--------------------------------------------- */
@import "banner-static";


/* ---------------------------------------------
section
--------------------------------------------- */
@import "section";

/* ---------------------------------------------
services
--------------------------------------------- */
@import "services";

/* ---------------------------------------------
portfolio
--------------------------------------------- */
@import "portfolio";

/* ---------------------------------------------
pricing
--------------------------------------------- */
@import "pricing";

/* ---------------------------------------------
blog
--------------------------------------------- */
@import "blog";

/* ---------------------------------------------
contact
--------------------------------------------- */
@import "contact";

/* ---------------------------------------------
footer
--------------------------------------------- */
@import "footer";


/* ---------------------------------------------
buttons
--------------------------------------------- */
@import "buttons";


/* ---------------------------------------------
woocommerce
--------------------------------------------- */
@import "woocommerce";

/* ---------------------------------------------

/* ---------------------------------------------
utilities
--------------------------------------------- */
@import "utilities";


/* ---------------------------------------------
responsive
--------------------------------------------- */
@import "responsive";
